/* Grid */
.page-container {
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template:
    "header"
    "aside"
    "summary"
    "main";

  > header {
    grid-area: header;
  }

  > article {
    grid-area: summary;
  }

  > main {
    grid-area: main;
  }

  > aside {
    grid-area: aside;
  }
}

/* Typography */
.page-container {
  line-height: 1.4;

  h1 {
    font-size: clamp(2rem, 8.333vw, 3.56rem);
    font-weight: 100;
    line-height: 1.2;
    margin-left: -0.1em;

    + p {
      font-size: 1rem;
      color: var(--subtle);
    }
  }

  h2 {
    font-size: 1.335rem;
    font-weight: 700;
    margin: 1.5rem 0 0.75rem -0.1em;
    padding-bottom: 0.25rem;
    color: var(--emphasized);
    border-bottom: 1px solid #aaa;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 1.25rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: var(--subtle);
    margin-bottom: 0.75rem;

    > strong {
      font-weight: 600;
      font-style: normal;
    }
  }

  p {
    margin-bottom: 0.75rem;
  }

  strong {
    color: var(--emphasized);
  }

  /* Links */
  a {
    color: var(--link);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 400ms var(--quick-spring);
  }

  a:hover {
    border-bottom-color: currentColor;
  }

  /* Lists */
  ul {
    margin: 0.5rem 0;
    padding-left: 2rem;

    &:nth-child(1 of #skills ~ ul) {
      list-style: none;
      padding: 0;
    }

    &:nth-child(1 of #about ~ ul) {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 0.25rem 0;
    }
  }
}

/* contact list in aside */
ul.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 0;
  transform: translateY(0);
  transition: transform 550ms var(--spring);

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.25rem 0;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--subtle);
    transition:
      fill 400ms var(--quick-spring),
      transform 400ms var(--quick-spring);

    &:has(+ a:hover) {
      transform: scale(1.05);
      fill: var(--link);
    }

    &:has(+ a:active) {
      transform: scale(0.95);
      transition: none;
    }
  }
}

/* This sentinel is used to toggle content in the sticky aside.
* It is positioned above the aside so that it triggers
* when the scroll position is approaching the point
* where the aside will become stuck to the top of
* the scrolling viewport down, or triggers after the aside
* has become unstuck when scrolling back up.
*
* @see: StickyAsideObserver
*/
.sticky-aside-sentinel {
  position: absolute;
  top: -2.5rem;
  height: 2.4rem;
  width: 1px;
  pointer-events: none;
}

/* Don't display the sticky aside content at all by default. */
.sticky-aside-content {
  display: none;
}

/* Tablet and up layout */
@media screen and (min-width: 768px) {
  .page-container {
    max-width: 1200px;
    padding: 4rem;
    gap: 0rem 2rem;
    grid-template:
      "header header"
      "aside summary"
      "aside main" / max-content 1fr;

    > article,
    > main {
      max-width: 800px;
    }

    > aside {
      position: sticky;
      align-self: start;
      top: 0;
      margin-top: 1.5rem;

      .sticky-aside-content {
        /* Display the sticky-aside-content, but initially hide it above the viewport */
        display: block;
        position: absolute;
        visibility: hidden;
        transform: translateY(-50%);
        opacity: 0;
        transition:
          transform 550ms var(--spring),
          opacity 400ms var(--quick-spring);

        &.visible {
          /* Move the sticky-aside-content into view */
          visibility: visible;
          transform: translateY(0);
          opacity: 1;
          transition:
            transform 550ms var(--spring),
            opacity 550ms var(--spring);
        }

        /* Move the sticky-aside-content further down */
        /* (emulating a margin-top) when the aside is fully stuck */
        .sticky-aside-sentinel:not(.intersecting) + &.visible {
          transform: translateY(2rem);
        }

        h1 {
          font-size: 2rem;
        }
      }

      /* Move the contact-list down when the sticky-aside-content is visible */
      &:has(> .sticky-aside-content.visible) > ul.contact-list {
        /* height of .sticky-aside-content > h1: 2rem (font-size) * 1.2 (line-height) */
        /* height of .sticky-aside-content > h1 + p: 1rem (font-size) * 1.4 (line-height) + 0.75rem (margin-bottom) */
        transform: translateY(calc(2rem * 1.2 + 1rem * 1.4 + 0.75rem));
        transition: transform 400ms var(--quick-spring);
      }

      /* Move the contact list further down when the sticky header is visible */
      /* and the sentinel is out of view (meaning the aside is fully stuck) */
      &:has(
          > .sticky-aside-sentinel:not(.intersecting)
            + .sticky-aside-content.visible
        )
        > ul.contact-list {
        /* height of .sticky-aside-content > h1: 2rem (margin-top) + 2rem (font-size) * 1.2 (line-height) */
        /* height of .sticky-aside-content > h1 + p: 1rem (font-size) * 1.4 (line-height) + 0.75rem (margin-bottom) */
        transform: translateY(calc(2rem + 2rem * 1.2 + 1rem * 1.4 + 0.75rem));
        transition: transform 750ms var(--spring);
      }
    }
  }
}
